
<div class="px-4 pt-6 bg-slate-50">
  <div class="xl:grid xl:grid-cols-3 xl:gap-4">
    <div class="col-span-3 mb-2">
      <div class="text-xl font-semibold lg:text-2xl">
        Profile
      </div>
    </div>
    <div class="col-span-1">
      <%= render '/users/show/user_card'%>
      <%= render '/users/show/skills' if @user.skills.present?%>
      <%= render '/users/show/hobbies' if @user.hobbies.present?%>  
    </div>
    <div class="col-span-2">
      <%= render '/users/show/general_info'%>  
    </div>   
  </div>   
</div>
