<div class="overflow-x-auto">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-5 py-3">NAME</th>
        <th scope="col" class="px-5 py-3 sm:px-10">ROLE</th>
        <th scope="col" class="px-5 py-3 sm:px-10">DEPARTMENT</th>
        <th scope="col" class="px-5 py-3 sm:px-10">
            <span class="sr-only">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody id="users">
      <% @users.each do |user| %>
        <%= render partial: "users/index/user_row", locals: {user: user} %>
      <%end%>
    </tbody>
  </table>
</div>

